.main-pagamentos{
    display: flex;
    justify-content: space-between;
    padding-top: calc(4rem + var(--header-height));
    gap: 2rem;
}

.section-pagamentos  {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.9rem;


    .cards-status-pagamentos {
        margin: .75rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;



        .card-ststus-pagamento {
            width: min(265px, 100%);
            box-shadow: var(--box-shadow);
            padding: 1.5rem;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            border-radius: 1.5rem;
            border: 3px solid transparent;
            transition: .3s;

            &:hover {
                border-color: var(--first-color);
                cursor: pointer;
                transform: scale(1.05);
            }

            span {
                font-size: var(--small-font-size);
                color: var(--first-color);
            }

            strong {
                font-size: var(--biggest-font-size);
                font-weight: var(--font-bold);
            }
        }
    }

    .list-pagamentos {
        display: flex;
        flex-direction: column;
        gap: 1.7rem;

        li {
            border-radius: 1.5rem;
            padding: 1.5rem 1.9rem;
            box-shadow: var(--box-shadow);
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: .3s all;

            &:last-child {
                margin-bottom: 5rem;
            }

            &:hover {
                transform: scale(1.05);
                cursor: pointer;
            }

            .count, .info-pagamento, .value {
                display: flex;
                align-items: center;
                gap: .25rem;

                strong {
                    font-weight: var(--font-bold);
                }

                small {
                    font-size: var(--small-font-size);
                    color: var(--first-color);
                }
            }

            .actions-pagamento {
                display: flex;
                align-items: center;
                gap: 1rem;

                a {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    color: #fff;
                    background-color: var(--text-color);
                }
            }
        }
    }

}

.section-novo-pagamentos {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.9rem;

    .card-add-pagamento {
        border: 1px solid red;

        
    }
}