.main-alunos{
    display: flex;
    justify-content: space-between;
    padding-top: calc(4rem + var(--header-height));
    gap: 2rem;




}

.section-alunos {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .card-search-and-btnadd > a {
        display: none;
    }

    .cards-alunos {
        padding: 2rem 0 4rem 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 2.3rem;
        row-gap: 3rem;

        .card-aluno {
            width: min(340px, 100%);
            box-shadow: var(--box-shadow);
            border-radius: 50px;
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            transition: .3s;
            border: 3px solid transparent;
            background-color: var(--body-color);
            padding: 1.5rem;


            &:hover{
                border-color: var(--first-color);
                cursor: pointer;
                transform: scale(1.03);
            }

            .info-aluno {
                width: 100%;
                display: flex;
                align-items: center;
                gap: .75rem;

                .circle-profile-aluno {
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                    border: 2px solid var(--text-color);
                    padding: 5px;
                    
                    > div {
                        width: 100%;
                        height: 100%;
                        background-color: var(--first-color-light);
                        border-radius: 50%;
                        display: grid;
                        place-content: center;

                        span {
                            font-size: var(--h2-font-size);
                            font-weight: var(--font-medium);
                        }
                    }
                }

                .name-and-plano {
                    display: flex;
                    flex-direction: column;
                    gap: .2rem;

                    a {
                        font-size: var(--h3-font-size);
                        font-weight: var(--font-semibold);
                        color: var(--text-color);
                    }

                    small {
                        font-size: var(--small-font-size);
                        font-weight: var(--font-medium);
                        color: var(--first-color);
                    }
                }

                .estado {
                    margin-left: auto;
                    font-size: var(--smaller-font-size);
                    padding: .2rem .7rem;
                    border-radius: 50px;
                    background-color: var(--first-color);
                    color: #fff;
                    font-weight: var(--font-medium);
                    transform: translateY(-9px);
                }


            }            

            .card-btns {
                display: flex;
                align-items: center;
                justify-content: space-around;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: .5rem;
                    padding: .70rem 1.5rem;
                    background-color: var(--body-color-light);
                    transition: .2s;
                    border-radius: 50px;
                    
                    span {
                        font-size: var(--small-font-size);
                        font-weight: var(--font-medium);
                    }

                    
                    &:first-child {

                        &:is(:hover, :focus) {
                            background-color: var(--first-color);
                        }
                    }

                    &:last-child {
                        
                        &:is(:hover, :focus) {
                            background-color: #ea1d2c;
                        }
                    }

                    &:hover {
                        
                        span, i {
                            color: #fff;
                        }
                    }

                    span, i {
                        color: var(--text-color);
                    }
                }
                
            }
        }

    }

    .form-aluno {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .card-inputs {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;

            .input-label {
                width: min(360px, 100%);
                display: flex;
                flex-direction: column;
                gap: .75rem;
    
                label {
                    font-size: var(--normal-font-size);
                    font-weight: var(--font-semibold);
                    color: var(--text-color-light);
                    padding-left: .75rem;
                }
    
                input, select, textarea {
                    width: 100%;
                    padding: 1.2rem;
                    font-size: var(--small-font-size);
                    font-weight: var(--font-semibold);
                    border-radius: 1rem;
                    background-color: var(--body-color-light);
                    border: 3px solid transparent;
                    transition: .3s;
    
                    &:is(:focus, :hover) {
                        border-color: var(--first-color);
                    }
                }
    
            }
        }

        .card-btns {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            padding-top: 2rem;
    
            button, a {
                font-size: var(--small-font-size);
                font-weight: var(--font-bold);
                border-radius: 50px;
                transition: .3s;
                align-self: flex-start;
                cursor: pointer;
                padding: 1rem 3rem;
                border: 3px solid var(--text-color);
            }
    
            .btn-submit-aluno {
                color: #fff;
                background-color: var(--text-color);
    
                &:hover {
                    background-color: var(--first-color);
                    border-color: var(--first-color);
                }
        
            }
        
            .btn-cancelar-aluno {
                color: var(--text-color);
                background-color: transparent;
    
                &:hover {
                    background-color: #ea1d2c;
                    border-color: #ea1d2c;
                    color: #fff;
                }
            }
        
    
        }
    }

    .ficha {
        padding-top: 2rem;

        .bcg {
            height: 260px;
            border-radius: 2rem;
            background-color: var(--body-color-light);
            transform: translateY(55px);
            z-index: -1;
        }

        .card-info {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 0 5rem;

            .circle-profile {
                width: 160px;
                height: 160px;
                border-radius: 50%;
                padding: 7px;
                border: 4px solid var(--first-color);
                z-index: 1;
    
    
                > div {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-color: var(--text-color);
                    display: grid;
                    place-content: center;
                    transition: .3s;
    
                    &:hover {
                        transform: scale(1.05);
                        cursor: pointer;
                    }
    
                    span {
                        color: #fff;
                        font-size: var(--biggest-font-size) !important;
                        font-weight: var(--font-bold);
                    }
                }
            }
    
            .name-email-more {
                flex: 1;
                display: flex;
                justify-content: space-between;
                margin-top: 50px;

                .name-desc {
                    display: flex;
                    flex-direction: column;
                    gap: .25rem;
    
        
                    strong {
                        font-size: var(--h2-font-size);
                    }

                    small {
                        color: var(--text-color-light);

                        i {
                            color: var(--first-color);
                        }

                        span {
                            font-weight: var(--font-semibold);
                        }
                    }

                }

                .btns {
                    display: flex;
                    align-items: start;
                    gap: 1rem;


                    button, a {
                        border: 3px solid var(--body-color-light);
                        padding: .75rem;
                        border-radius: 1rem;
                        display: flex;
                        align-items: center;
                        gap: .75rem;
                        font-size: var(--small-font-size);
                        font-weight: var(--font-semibold);
                        color: var(--text-color);
                        transition: .3s;

                        span {
                            font-size: var(--small-font-size);
                            font-weight: var(--font-semibold);
                            color: var(--text-color);
                        }

                        &.download {
                            background-color: var(--text-color);
                            color: #fff;
                            padding: .75rem 1rem;

                            span {
                                color: #fff;
                            }

                            &:is(:hover, :focus) {
                                transform: scale(1.05);
                                box-shadow: var(--box-shadow);
                            }
                        }
                    }
                }
            }

        }
        
    }

}