.main-coach{
    display: flex;
    justify-content: space-between;
    padding-top: calc(4rem + var(--header-height));
    gap: 2rem;
}

.section-coach {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .cards-coach {
        padding: 2rem 0 4rem 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 2.3rem;
        row-gap: 3rem;

        .card-coach {
            width: min(340px, 100%);
            box-shadow: var(--box-shadow);
            border-radius: 1.8rem;
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            transition: .3s;
            border: 3px solid transparent;
            background-color: var(--body-color);
            padding: 1.5rem;


            &:hover{
                border-color: var(--first-color);
                cursor: pointer;
                transform: scale(1.03);
            }

            .info-coach {
                width: 100%;
                display: flex;
                align-items: end;
                gap: .75rem;
                position: relative;

                .circle-profile-coach {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    border: 2px solid var(--text-color);
                    padding: 5px;
                    
                    > div {
                        width: 100%;
                        height: 100%;
                        background-color: var(--first-color-light);
                        border-radius: 50%;
                        display: grid;
                        place-content: center;

                        span {
                            font-size: var(--biggest-font-size);
                            font-weight: var(--font-medium);
                        }
                    }
                }

                .name-and-plano {
                    display: flex;
                    flex-direction: column;
                    gap: .2rem;

                    a {
                        font-size: var(--h3-font-size);
                        font-weight: var(--font-semibold);
                        color: var(--text-color);
                    }

                    small {
                        font-size: var(--small-font-size);
                        font-weight: var(--font-medium);
                        color: var(--first-color);
                    }
                }

                .estado {
                    display: flex;
                    align-items: center;
                    gap: .25rem;
                    padding: .2rem .7rem;
                    border-radius: 50px;
                    background-color: var(--first-color);
                    color: #fff;
                    position: absolute;
                    right: 0;
                    top: 0;
                    
                    span {
                        font-weight: var(--font-medium);
                        font-size: var(--smaller-font-size);
                    }
                }


            }            

            .card-btns {
                display: flex;
                align-items: center;
                justify-content: space-around;

                a {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: .5rem;
                    padding: .9rem 1.5rem;
                    background-color: var(--body-color-light);
                    transition: .2s;
                    border-radius: 50px;
                    
                    span {
                        font-size: var(--small-font-size);
                        font-weight: var(--font-medium);
                    }


                    & {
                        
                        &:is(:hover, :focus) {
                            background-color: #ea1d2c;
                        }
                    }

                    &:hover {
                        
                        span, i {
                            color: #fff;
                        }
                    }

                    span, i {
                        color: var(--text-color);
                    }
                }
                
            }
        }

    }

    .list-access-code {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 5rem;


        .card-btns {
            display: flex;
            align-items: center;
            gap: 5rem;
    
            button, a {
                font-size: var(--small-font-size);
                font-weight: var(--font-bold);
                border-radius: 50px;
                transition: .3s;
                align-self: flex-start;
                cursor: pointer;
                padding: 1rem 3rem;
                border: 3px solid var(--text-color);
            }
    
            .btn-submit-aluno {
                color: #fff;
                background-color: var(--text-color);
    
                &:hover {
                    background-color: var(--first-color);
                    border-color: var(--first-color);
                }
        
            }
        
            .btn-cancelar-aluno {
                all: unset;
                width: 55px;
                height: 55px;
                border-radius: 50%;
                display: grid;
                place-content: center;
                border: 1px solid var(--body-color-light);
                transition: .6s all;
                cursor: pointer;
                background-color: var(--body-color-light);
                box-shadow: var(--box-shadow);

                i {
                    font-size: 18px;
                }

                &:hover {
                    transform: translateX(-10px);
                }

            }
        
    
        }

        ul {
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 2.5rem;
            padding-top: 2rem;

            li {
                width: 180px;
                padding: 2rem .75rem;
                border-radius: 1.5rem;
                box-shadow: var(--box-shadow);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 2px solid transparent;
                cursor: pointer;
                transition: .3s all;

                &:hover {
                    background-color: var(--body-color-light);
                }

                strong {
                    font-size: var(--h1-font-size);
                }

                span {
                    color: var(--first-color);
                }
            }

        }

    }

    .ficha {
        display: flex;
        flex-direction: column;
        padding-top: 7rem;
        padding-bottom: 5rem;

        .btn-voltar {
            width: max-content;
            display: flex;
            align-items: center;
            gap: .4rem;
            padding: .3rem 1rem;
            border-radius: 50px;
            color: #fff;
            background: var(--text-color);
            transition: .3s;
            
            &:hover{
                transform: scale(1.05);
                background: var(--first-color);
            }

            span{
                font-size: var(--small-font-size);
                font-weight: var(--font-medium);
            }
        }

        .bcg {
            height: 260px;
            border-radius: 2rem;
            background-color: var(--body-color-light);
            transform: translateY(55px);
            z-index: -1;
        }

        .card-info {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 0 5rem;

            .circle-profile {
                width: 160px;
                height: 160px;
                border-radius: 50%;
                padding: 7px;
                border: 4px solid var(--first-color);
                z-index: 1;
    
    
                > div {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-color: var(--text-color);
                    display: grid;
                    place-content: center;
                    transition: .3s;
    
                    &:hover {
                        transform: scale(1.05);
                        cursor: pointer;
                    }
    
                    span {
                        color: #fff;
                        font-size: var(--biggest-font-size) !important;
                        font-weight: var(--font-bold);
                    }
                }
            }
    
            .name-email-more {
                flex: 1;
                display: flex;
                justify-content: space-between;
                margin-top: 50px;

                .name-desc {
                    display: flex;
                    flex-direction: column;
                    gap: .25rem;
    
        
                    strong {
                        font-size: var(--h2-font-size);
                    }

                    small {
                        color: var(--text-color-light);

                        i {
                            color: var(--first-color);
                        }

                        span {
                            font-weight: var(--font-semibold);
                        }
                    }

                }

                .btns {
                    display: flex;
                    align-items: start;
                    gap: 1rem;


                    button, a {
                        border: 3px solid var(--body-color-light);
                        padding: .75rem;
                        border-radius: 1rem;
                        display: flex;
                        align-items: center;
                        gap: .75rem;
                        font-size: var(--small-font-size);
                        font-weight: var(--font-semibold);
                        color: var(--text-color);
                        transition: .3s;

                        span {
                            font-size: var(--small-font-size);
                            font-weight: var(--font-semibold);
                            color: var(--text-color);
                        }

                        &.download {
                            background-color: var(--text-color);
                            color: #fff;
                            padding: .75rem 1rem;
                            display: flex;

                            span {
                                color: #fff;
                            }

                            &:is(:hover, :focus) {
                                transform: scale(1.05);
                                box-shadow: var(--box-shadow);
                            }
                        }
                    }
                }
            }

        }

        .card-content {
            margin-top: 4rem;
            padding: 2rem 2rem 4rem 2rem;
            border: 2px solid var(--body-color-light);
            border-radius: 1.5rem;

            > div {
                transform: translateY(-50px) !important;

                strong {
                    width: max-content;
                    padding: .25rem 1rem;
                    border-radius: 1.5rem;
                    background-color: #fff;
                }
            }

            ul {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 3rem;

                li {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    border-bottom: 2px solid var(--body-color-light);
                    padding-bottom: .25rem;

                    strong {
                        font-size: var(--h3-font-size);
                    }

                    span {
                        font-size: var(--small-font-size);
                        font-weight: var(--font-semibold);
                        color: var(--text-color-light);
                    }
                }
            }

        }
        
    }

}