.main-coach{
    display: flex;
    justify-content: space-between;
    padding-top: calc(4rem + var(--header-height));
    gap: 2rem;
}

.section-coach {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .cards-coach {
        padding: 2rem 0 4rem 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 2.3rem;
        row-gap: 3rem;

        .card-coach {
            width: min(340px, 100%);
            box-shadow: var(--box-shadow);
            border-radius: 1.8rem;
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            transition: .3s;
            border: 3px solid transparent;
            background-color: var(--body-color);
            padding: 1.5rem;


            &:hover{
                border-color: var(--first-color);
                cursor: pointer;
                transform: scale(1.03);
            }

            .info-coach {
                width: 100%;
                display: flex;
                align-items: end;
                gap: .75rem;
                position: relative;

                .circle-profile-coach {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    border: 2px solid var(--text-color);
                    padding: 5px;
                    
                    > div {
                        width: 100%;
                        height: 100%;
                        background-color: var(--first-color-light);
                        border-radius: 50%;
                        display: grid;
                        place-content: center;

                        span {
                            font-size: var(--h1-font-size);
                            font-weight: var(--font-medium);
                        }
                    }
                }

                .name-and-plano {
                    display: flex;
                    flex-direction: column;
                    gap: .2rem;

                    a {
                        font-size: var(--h3-font-size);
                        font-weight: var(--font-semibold);
                        color: var(--text-color);
                    }

                    small {
                        font-size: var(--small-font-size);
                        font-weight: var(--font-medium);
                        color: var(--first-color);
                    }
                }

                .estado {
                    font-size: var(--smaller-font-size);
                    padding: .2rem .7rem;
                    border-radius: 50px;
                    background-color: var(--first-color);
                    color: #fff;
                    font-weight: var(--font-medium);
                    position: absolute;
                    right: 0;
                    top: 0;
                }


            }            

            .card-btns {
                display: flex;
                align-items: center;
                justify-content: space-around;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: .5rem;
                    padding: .70rem 1.5rem;
                    background-color: var(--body-color-light);
                    transition: .2s;
                    border-radius: 50px;
                    
                    span {
                        font-size: var(--small-font-size);
                        font-weight: var(--font-medium);
                    }

                    
                    &:first-child {

                        &:is(:hover, :focus) {
                            background-color: var(--first-color);
                        }
                    }

                    &:last-child {
                        
                        &:is(:hover, :focus) {
                            background-color: #ea1d2c;
                        }
                    }

                    &:hover {
                        
                        span, i {
                            color: #fff;
                        }
                    }

                    span, i {
                        color: var(--text-color);
                    }
                }
                
            }
        }

    }

    .form-coach {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .card-inputs {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;

            .input-label {
                width: min(360px, 100%);
                display: flex;
                flex-direction: column;
                gap: .75rem;
    
                label {
                    font-size: var(--normal-font-size);
                    font-weight: var(--font-semibold);
                    color: var(--text-color-light);
                    padding-left: .75rem;
                }
    
                input, select, textarea {
                    width: 100%;
                    padding: 1.2rem;
                    font-size: var(--small-font-size);
                    font-weight: var(--font-semibold);
                    border-radius: 1rem;
                    background-color: var(--body-color-light);
                    border: 3px solid transparent;
                    transition: .3s;
    
                    &:is(:focus, :hover) {
                        border-color: var(--first-color);
                    }
                }
    
            }
        }

        .card-btns {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            padding-top: 2rem;
    
            button, a {
                font-size: var(--small-font-size);
                font-weight: var(--font-bold);
                border-radius: 50px;
                transition: .3s;
                align-self: flex-start;
                cursor: pointer;
                padding: 1rem 3rem;
                border: 3px solid var(--text-color);
            }
    
            .btn-submit-coach {
                color: #fff;
                background-color: var(--text-color);
    
                &:hover {
                    background-color: var(--first-color);
                    border-color: var(--first-color);
                }
        
            }
        
            .btn-cancelar-coach {
                color: var(--text-color);
                background-color: transparent;
    
                &:hover {
                    background-color: #ea1d2c;
                    border-color: #ea1d2c;
                    color: #fff;
                }
            }
        
    
        }
    }

}